server/venv/
venv/
__pycache__/
*.pyc
.env
.env.local
.env.*.local
node_modules/
dist/
server/data/users.json
*.mp4
*.avi
*.mov

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
